<div class="container-fluid">
					<!-- Begin page heading -->
					<h1 class="page-heading">Blank page <small>Sub heading here</small></h1>
					<!-- End page heading -->
				
					<!-- Begin breadcrumb -->
					<ol class="breadcrumb default square rsaquo sm">
						<li><a href="index.html"><i class="fa fa-home"></i></a></li>
						<li><a href="#fakelink">Example pages</a></li>
						<li class="active">Blank</li>
					</ol>
					<!-- End breadcrumb -->
					
					<p>Begin your content here</p>

				
				</div><!-- /.container-fluid -->